/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/
/* Formatting specific to the StockWatcher application */
/*
body {
    padding: 10px;
}

/* stock list header row */
.watchListHeader {
    background-color: #2062B8;
    color: white;
    font-style: italic;
}
/* stock list flex table */
.watchList {
    border: 1px solid silver;
    padding: 2px;
    margin-bottom:6px;
}

/* stock list Price and Change fields */
.watchListNumericColumn {
    text-align: right;
    width:8em;
}
/* stock list Remove column */
.watchListRemoveColumn {
    text-align: center;
}
/* stock list, the Remove button */
.gwt-Button-remove {
    width: 50px;
}

/* Add Stock panel */
.addPanel {
    margin: 10px 0px 15px 0px;
}

/* stock list, the Remove button */
.gwt-Button-remove {
    width: 50px;
}
/* Dynamic color changes for the Change field */
.noChange {
    color: black;
}
.serverTime{
    background: black;
    color: yellow;
    padding-left: 15px;
    font-style: italic;
}
.serverButton{
    background: yellow;
    color: black;

}

.positiveChange {
    color: green;
}

.negativeChange {
    color: red;
}